@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 7px;
  border: 1px solid rgb(0, 0, 0);
}

.calculator-container{
  background-color: rgb(63, 63, 63);
  width: 265px;
  height: 280px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.line-container{
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.buttonAll{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 0.5rem 0.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(197, 197, 197);
  transition: 0.5s;
  border-radius: 50%;
  border: none;
}

.buttonAll:hover{
  background-color: rgb(146, 208, 137);
  cursor: pointer;
  transition: 0.5s;
}

.screenContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.datosContainer{
  background-color: rgba(104, 70, 70, 0);
  min-width: 300px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 2px;
}

.result{
  display: flex;
  justify-content: end;
  font-weight: bolder;
  font-size: 2rem;
  padding-right: 7px;
  border: rgb(64, 64, 64) 1px solid;
  background-color: rgb(158, 206, 158);
  border-radius: 3px;
}